*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    width: 80%;
    background-color: rgb(218, 167, 167);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}














.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }